hr
div.center (c) Some Times Angular CRUD with REST API 2018
br
div.center CSCI-E31 Assignment 7 - PREP/TEST/DEV - May 10, 2018
div.center William Reilly - wreilly2001@gmail.com
script(src="https://unpkg.com/axios/dist/axios.min.js")
    //- No, not here. Instead see articles.pug, and articleedit.pug
    //- script(src="/static/javascript/client-cr.js") ... client-ud.js
hr
