div.banner
    p FINAL Assignment 7 - PREP/TEST/DEV
    p
        |
        strong CRUD
        |
        | - All via
        |
        strong Express
        |
        | server
    ol
    li CREATE - Add Article Form on /articles page
        li READ - Button to Display All Articles, on /articles page
        li UPDATE - From list, click on an Article. Edit from that page
        li DELETE - From list, click on an Article. Delete from that page
    hr