div.banner
    p FINAL Assignment 7 - PREP/TEST/DEV
    p CRUD - TODO - All via Angular client, not Express server
    ol
    li CREATE - Add Article Form on /articles page
        li READ - Button to Display All Articles, on /articles page
        li UPDATE - From list, click on an Article. Edit from that page
        li DELETE - From list, click on an Article. Delete from that page
    hr