doctype html
html
    head
        title Some Times REST API
        //- https://www.w3schools.com/tags/att_link_href.asp
        link(rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css")
    body
        include includes/header
        include includes/instructions-banner
        // h3 Layout here
        block content
        include includes/footer